.navigationbar{
    position: sticky;
    top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    background-color: rgb(52,170,162);
}
li {
    display: inline;
}
li a {
    padding: 14px 16px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    color: floralwhite;
    border-radius: 4px;
}
li a:hover{
    background-color: rgb(32,150,142);
}